doctype html  
html(lang='sv')  
 head
   meta( charset='UTF-8' )
   meta( http-equiv='X-UA-Compatible' content='IE=edge' )
   meta( name='viewport', content='width=device-width, initial-scale=1' )
   title dreamcatcher restapi
 body
   h1 Drömmar, drömting och deras betydelser / REST API
   
   a(href="/dreamtopics" target ="_blank") Se REST dreamTopics
   