doctype html  
html(lang='sv')  
 head
   meta( charset='UTF-8' )
   meta( http-equiv='X-UA-Compatible' content='IE=edge' )
   meta( name='viewport', content='width=device-width, initial-scale=1' )
   title dreamcatcher restapi
 body
   h1 Drömmar, drömting och deras betydelser / REST API
   //-
    När du jobbar lokalt
    a(href="http://localhost:5000/dreamTopics" target ="_blank") Se REST dreamTopics
   a(href="https://dreamcatcher-restapi.herokuapp.com/dreamTopics" target ="_blank") Se REST dreamTopics
   